/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #ffffff;
	--global-font-family: "Playfair Display", serif;
	--global-font-size: 18;
	--global-font-line-height: 1.4;
	--highlight-font-family: "Roboto Slab", serif;
	--content-width: 45rem;
	--dropdown-symbol-width: 0.7em;

	/* Custom editor colors */
	--color-theme-primary: #e36d60;
	--color-theme-secondary: #41848f;
	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #1c2833;
	--color-theme-grey: #95a5a6;
	--color-theme-white: #ecf0f1;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;

	--color-black: #000000;
	--color-off-black: #262626;
	--color-grey: #D8D8D8;
	--color-dark-grey: #6E6E6E;
	--color-white: #FFFFFF;

	--color-link: #D8D8D8;
	--color-link-visited: #D8D8D8;
	--color-link-active: #ffffff;

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);
}
