@import "_custom-properties.css";
@import "_custom_mixins.css";

@media (--small-up) {
	#top-post {
		background-color: rgba(var(--color-grey-rgb), .30);
		max-width: 75rem;
		width: 100%;
		margin: 15px auto 0;
		padding: 0;

		& .post {
			display: flex;
			flex-wrap: wrap;

			@supports ( grid-area: auto ) {
				display: grid;
				grid-column-gap: 0;
				grid-template-columns: 2fr 1fr;
				grid-template-rows: auto;
			}
		}

		& .columns {
			padding-left: 0;
			&.video {
				position: relative;
				padding: 0 15px 0 0;
				flex-basis: 66.67%;
				overflow: hidden;

				& .videoplace-featured-image {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					&:hover {
						cursor: pointer;
					}
				}
			}
			&.photo {
				padding-left: 0;
				padding-bottom: 36.7%;
				padding-right: 15px;
				position: relative;
				overflow: hidden;
				flex-basis: 66.67%;
				& img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			&.details {
				padding: 10px;
				flex-basis: 33.33%;
				& .title {
					@mixin robotoSlab 35px, 400, var(--color-white), none;
					margin-left: 0;
					font-size: 35px;
					margin-top: 0;
					& a {
						color: var(--color-white);
						text-decoration: none;
					}
				}
				& .post-details {
					border-bottom: 1px solid var(--color-white);
					padding-bottom: 3px;
					& img {
						border-radius: 50px;
						float: left;
						margin-right: 10px;
						height: auto;
						width: auto;
					}
					& .post-detail {
						@mixin roboto 20px, 300, var(--color-white), none;
						margin-top: -2px;
						clear: none;
						& a {
							color: var(--color-white);
						}
					}
				}
				& p {
					font-size: 16px;
					margin-bottom: 1rem;
				}
				& .button.white {
					font-size: 22px;
					width: 100%;
					padding: 5px 15px;
					display: inline-block;
				}
			}
			& .flex-video {
				padding-bottom: 56%;
				margin: 0;
			}
		}
	}
	.home-posts-section {
		border-top: 1px solid var(--color-white);
		padding: 15px 0 0;
		width: 100%;
		margin: 15px auto 0;
		max-width: 75rem;
		display: flex;
		flex-wrap: wrap;

		@supports ( grid-area: auto ) {
			display: grid;
			grid-column-gap: 0;
			grid-template-columns: 66.67% 33.33%;
		}

		& .home-posts {
			padding-left: 0;
			flex-basis: 66.67%;
			& .video-post {
				background-color: rgba(var(--color-grey-rgb), .30);
				margin-bottom: 15px;
				padding: 5px 10px 2rem 10px;
				& .post-category {
					@mixin roboto 18px, 300, var(--color-white), uppercase;
					margin: 5px;
				}
				& .photo-video {
					position: relative;
					img {
						margin: 0 10px;
						width: 100%;
					}
					& .videoplace-featured-image {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						margin: 0 -10px;
						& img {
							margin: 0;
						}
						&:hover {
							cursor: pointer;
						}
					}
				}
				& .flex-video {
					padding-bottom: 56%;
					margin: 0 -10px;
				}
				& .title {
					@mixin robotoSlab 30px, 400, var(--color-white), none;
					margin-left: 0;
					& 	a {
						color: $white;
					}
				}
				& .post-details {
					padding-bottom: 3px;
					margin-bottom: 1rem;
					& img {
						border-radius: 50px;
						float: left;
						margin-right: 10px;
						width: auto;
						height: auto;
					}
					& .post-detail {
						@mixin roboto 20px, 300, var(--color-white), none;
						margin-top: 10px;
						& a {
							color: $white;
						}
					}
				}
				& .button.white {
					font-size: 22px;
					width: 100%;
				}
			}
		}

		& .primary-sidebar {
			flex-basis: 33.33%;
			padding: 0 15px;
		}
	}
}
@media (--small-only) {
	#top-post {
		background-color: rgba(var(--color-grey-rgb), .30);
		margin-top: 15px;
		& .medium-12 {
			padding: 0;
		}
		& .columns {
			& .photo {
				padding-left: 0;
				overflow: visible;
				padding-bottom: 0;
				& img {
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	& .home-posts-section {
		& .home-posts {
			padding-left: 0.625rem;
		}
	}
}
@media (--small-down) {  }

@media (--medium-up) {  }
@media (--medium-only) {
	& #top-post {
		background-color: rgba($grey, .30);
		margin-top: 15px;
		& .medium-12 {
			padding: 0;
		}
		& .columns {
			& .photo {
				padding-left: 0;
				overflow: visible;
				padding-bottom: 0;
				& img {
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	& .home-posts-section {
		& .home-posts {
			padding-left: 0.9375rem;
		}
	}
}
@media (--medium-down) {  }

@media (--large-up) {  }
@media (--large-only) {  }
@media (--large-down) {  }

@media (--xlarge-up) {  }
@media (--xlarge-only) {  }
@media (--xlarge-down) {  }

@media (--xxlarge-up) {  }
@media (--xxlarge-only) {  }
@media (--xxlarge-down) {  }
