@import "_custom-properties.css";
@import "_custom_mixins.css";

@media (--small-up) {
	#top-post {
		background-color: rgba(var(--color-grey-rgb), .30);
		margin-top: 15px;
		& .columns {
			padding-left: 0;
			&.video {
				position: relative;
				& .videoplace-featured-image {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					&:hover {
						cursor: pointer;
					}
				}
			}
			&.photo {
				padding-left: 0;
				padding-bottom: 36.7%;
				position: relative;
				overflow: hidden;
				& img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}
			}
			&.details {
				padding: 10px;
				& .title {
					@mixin robotoSlab 35px, 400, var(--color-white), none;
					margin-left: 0;
					& a {
						color: $white;
					}
				}
				& .post-details {
					border-bottom: 1px solid var(--color-white);
					padding-bottom: 3px;
					& img {
						border-radius: 50px;
						float: left;
						margin-right: 10px;
					}
					& .post-detail {
						@mixin roboto 20px, 300, var(--color-white), none;
						margin-top: -2px;
						& a {
							color: $white;
						}
					}
				}
				& p {
					font-size: 16px;
					margin-bottom: 10px;
				}
				& .button.white {
					font-size: 22px;
					width: 100%;
					padding: 5px 15px;
				}
			}
			& .flex-video {
				padding-bottom: 56%;
				margin: 0;
			}
		}
	}
	.home-posts-section {
		border-top: 1px solid var(--color-white);
		padding-top: 15px;
		margin-top: 15px;
		& .home-posts {
			padding-left: 0;
			& .video-post {
				background-color: rgba(var(--color-grey-rgb), .30);
				margin-bottom: 15px;
				padding: 5px 10px 10px 10px;
				& .post-category {
					@mixin roboto 18px, 300, var(--color-white), uppercase;
				}
				& .photo-video {
					position: relative;
					img {
						margin: 0 10px;
						width: 100%;
					}
					& .videoplace-featured-image {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						margin: 0 -10px;
						& img {
							margin: 0;
						}
						&:hover {
							cursor: pointer;
						}
					}
				}
				& .flex-video {
					padding-bottom: 56%;
					margin: 0 -10px;
				}
				& .title {
					@mixin robotoSlab 30px, 400, var(--color-white), none;
					margin-left: 0;
					& 	a {
						color: $white;
					}
				}
				& .post-details {
					padding-bottom: 3px;
					& img {
						border-radius: 50px;
						float: left;
						margin-right: 10px;
					}
					& .post-detail {
						@mixin roboto 20px, 300, var(--color-white), none;
						margin-top: 10px;
						& a {
							color: $white;
						}
					}
				}
				& .button.white {
					font-size: 22px;
					width: 100%;
				}
			}
		}
	}
}
@media (--small-only) {
	#top-post {
		background-color: rgba(var(--color-grey-rgb), .30);
		margin-top: 15px;
		& .medium-12 {
			padding: 0;
		}
		& .columns {
			& .photo {
				padding-left: 0;
				overflow: visible;
				padding-bottom: 0;
				& img {
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	& .home-posts-section {
		& .home-posts {
			padding-left: 0.625rem;
		}
	}
}
@media (--small-down) {  }

@media (--medium-up) {  }
@media (--medium-only) {
	& #top-post {
		background-color: rgba($grey, .30);
		margin-top: 15px;
		& .medium-12 {
			padding: 0;
		}
		& .columns {
			& .photo {
				padding-left: 0;
				overflow: visible;
				padding-bottom: 0;
				& img {
					position: relative;
					width: 100%;
					height: auto;
				}
			}
		}
	}
	& .home-posts-section {
		& .home-posts {
			padding-left: 0.9375rem;
		}
	}
}
@media (--medium-down) {  }

@media (--large-up) {  }
@media (--large-only) {  }
@media (--large-down) {  }

@media (--xlarge-up) {  }
@media (--xlarge-only) {  }
@media (--xlarge-down) {  }

@media (--xxlarge-up) {  }
@media (--xxlarge-only) {  }
@media (--xxlarge-down) {  }
