/**
* Sidebar Styles
*
* @package ***Theme Name***
* @author Jacob Martella
* @version 1.0
*/
/**
***************** A. Widgets ************************ 
*/
.sidebar {
  padding-right: 0;
}
.sidebar .widget {
  background-color: rgba(216, 216, 216, 0.3);
  padding: 10px 5px;
  margin-bottom: 15px;
}
.sidebar .widget .widgettitle {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}
.sidebar .widget a {
  color: #D8D8D8;
}
